<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information - GIC Student Progress Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
  </head>
  <body>
    <header>
      <nav>
        <img src="{{ url_for('static', filename='Logo-University-of-Glasgow-removebg-preview.png')}}"
        />

        <div class="sites">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('information') }}">Information</a>
          <a href="{{ url_for('data_collection') }}">Survey</a>
          <p class="text">|Glasgow International College</p>
        </div>
      </nav>
    </header>
    <main>
      <section class="information">
        <h2 class="anim">Why Collect Student Progress Data?</h2>
        <div>
          <p class="anim">
            At GIC, we believe in continuous improvement of student experiences.
            By collecting data on student progress, we can identify areas of
            strength and opportunities for improvement. This data helps us
            improve our support services, refine our curriculum, and make sure
            every student have the best possible academic journey.
          </p>
        </div>
        <div>
        </div>
      </section>
    </main>
  </body>
</html>
